@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";

:root {
  --color-primary: #54201c;
  --color-secondary: #49B9FF/50 ;
}

*{
  font-family: Outfit;
}

.font-playfair {
  font-family: Playfair !important;
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-8px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-dropdown {
  animation: dropdown 0.15s ease-out forwards;
}
